[submodule "cpputest"]
	path = submodules/cpputest
	url = git@github.com:cpputest/cpputest.git
[submodule "CppUTestSteps"]
	path = submodules/CppUTestSteps
	url = git@github.com:sorgom/CppUTestSteps.git
	branch = dev
[submodule "sompy"]
	path = submodules/sompy
	url = git@github.com:sorgom/sompy.git
	branch = dev
